.page {
  margin: auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: Inter, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  max-height: 800px;
  height: 100vh;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__links {
  position: relative;
  top: 30px;
  right: 80px;
  list-style-type: none;
  gap: 20px;
  display: flex;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  position: relative;
  top: 183px;
  left: 80px;
  bottom: 28px;
  max-width: 708px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;

  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  top: 183px;
  position: relative;
  left: 80px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 548px;
}

.header__footer {
  color: #838383;
}

.header__paragraph {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.header__schedule {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 80px;
  bottom: 240px;
}

.header__adress {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 80px;
  bottom: 240px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  max-height: 800px;
  height: 100vh;
}

.recipes__title {
  position: relative;
  left: 80px;
  top: 100px;
  max-width: 580px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 24px;
}

.recipes__subtitle {
  position: relative;
  left: 80px;
  top: 100px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 24px;
}

.recipes__video-item {
  width: 480px;
  height: 273px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  height: 100vh;
}

.reservation__title {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin: 0px auto 80px 0px;
}

.reservation__form {
  max-width: 385px;
  margin: auto;
}

.form__fieldset-container {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__label-checkbox {
  padding-bottom: 0;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form__item {
  padding: 0 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  height: 60px;
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  height: 60px;
  max-width: 385px;
}

.form__button:hover {
  border-radius: 4px;
  opacity: 70%;
  max-width: 385px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__item-checkbox {
  margin-right: 12px;
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.form__item-checkbox:checked {
  background: #2f80ed;
}
